.root:global(.__wab_instance) {
  position: relative;
  background: var(--token-EI8XSdWJROjx);
  display: flex;
  cursor: pointer;
  box-sizing: border-box;
  min-width: var(--token-yoZ5UTEtbQiD);
  font-family: var(--token-th9QJEdXzf11);
  font-size: var(--token-nj72HAJrv2bo);
  line-height: var(--token-7XWz8tNTWt9Y);
  outline-style: none;
  text-decoration-line: none;
  border-radius: 14px;
  padding: 0rem;
  border-width: 0px;
}
.root[data-focus-visible]:global(.__wab_instance) {
  outline-style: solid;
  outline-width: var(--token-AzG29QqYWqT8);
  outline-offset: 1px;
  outline-color: var(--token-EI8XSdWJROjx);
}
.root[data-disabled]:global(.__wab_instance) {
  cursor: not-allowed;
}
.rootcolor_neutral:global(.__wab_instance) {
  background: var(--token-WuSqdQoSEgdC);
}
.rootcolor_muted:global(.__wab_instance) {
  background: var(--token-Nl-jNdt3Gf28);
}
.rootcolor_success:global(.__wab_instance) {
  background: var(--token-ZhpqcXTMvPoe);
}
.rootcolor_warning:global(.__wab_instance) {
  background: var(--token-REUGzs8A8tGV);
}
.rootcolor_errorDestructive:global(.__wab_instance) {
  background: var(--token-jM3idNq3KOHV);
}
.rootcolor_v2:global(.__wab_instance) {
  color: var(--token-vTnVl15gQePC);
  background: var(--token-vTnVl15gQePC);
  border: 1px solid var(--token-EI8XSdWJROjx);
}
.roottype_soft:global(.__wab_instance) {
  background: none;
}
.roottype_bordered:global(.__wab_instance) {
  background: none;
}
.rootsize_extraSmall:global(.__wab_instance) {
  line-height: var(--token-STjRLssWYdjJ);
  font-size: var(--token-9-2gWCjkPS1p);
  column-gap: var(--token-AzG29QqYWqT8);
  row-gap: 0px;
  border-radius: var(--token-7WzZznU0oHuZ);
}
.rootsize_small:global(.__wab_instance) {
  font-size: var(--token-9-2gWCjkPS1p);
  line-height: var(--token-STjRLssWYdjJ);
  column-gap: var(--token-7WzZznU0oHuZ);
  row-gap: 0px;
  border-radius: var(--token-7WzZznU0oHuZ);
}
.rootsize_large:global(.__wab_instance) {
  font-size: var(--token-W47i-vK7kyLl);
  line-height: var(--token-vtJfzsa6Xiki);
}
.rootsize_extraLarge:global(.__wab_instance) {
  font-size: var(--token-W47i-vK7kyLl);
  line-height: var(--token-vtJfzsa6Xiki);
}
.rootroundedFull:global(.__wab_instance) {
  border-radius: 99px;
}
.rootflatSide_top:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-top-left-radius: 0rem;
}
.rootflatSide_right:global(.__wab_instance) {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.rootflatSide_bottom:global(.__wab_instance) {
  border-bottom-right-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.rootflatSide_left:global(.__wab_instance) {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.softBackground {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  background: var(--token-aF3Y7nCC4_9P);
  border-radius: var(--token-LgPs4s71_o7g);
}
.softBackgroundcolor_neutral {
  background: var(--token-ESBoMML6my-3);
}
.softBackgroundcolor_muted {
  background: var(--token-l9m976T8ULth);
}
.softBackgroundcolor_success {
  background: var(--token-Jph2PHKm3NSA);
}
.softBackgroundcolor_warning {
  background: var(--token-eEjQ8obIH2ms);
}
.softBackgroundcolor_errorDestructive {
  background: var(--token-RXIwbAAgV3s3);
}
.softBackgroundtype_soft {
  display: block;
}
.roottype_bordered[data-hovered] .softBackgroundtype_bordered {
  display: block;
}
.roottype_bordered[data-pressed] .softBackgroundtype_bordered {
  display: block;
}
.softBackgroundroundedFull {
  border-radius: 99px;
}
.border {
  display: block;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  border-radius: var(--token-LgPs4s71_o7g);
  border: 0px solid var(--token-AG_kZG2wR50F);
}
.bordercolor_neutral {
  border-color: var(--token-gaOaQUY7UsK7);
}
.bordercolor_muted {
  border-color: var(--token-88tCMZH3lOIP);
}
.bordercolor_success {
  border-color: var(--token-srPBAtq5sJwO);
}
.bordercolor_warning {
  border-color: var(--token-eE-r08Hx7dPl);
}
.bordercolor_errorDestructive {
  border-color: var(--token-qMjmEpywJWgO);
}
.bordertype_bordered {
  background: none;
  display: block;
  border-width: 1px;
}
.borderroundedFull {
  border-radius: 99px;
}
.borderflatSide_top {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.borderflatSide_right {
  border-top-right-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_bottom {
  border-bottom-left-radius: 0rem;
  border-bottom-right-radius: 0rem;
}
.borderflatSide_left {
  border-top-left-radius: 0rem;
  border-bottom-left-radius: 0rem;
}
.interactionEffect {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  bottom: 0px;
  border-radius: var(--token-LgPs4s71_o7g);
}
.root[data-hovered] .interactionEffect {
  background: var(--token-ksNoKISHxRDl);
}
.root[data-disabled] .interactionEffect {
  background: var(--token-YPx1PrKfrOZP);
}
.root[data-pressed] .interactionEffect {
  background: var(--token-q9T9iCJ9Z_LM);
}
.roottype_bordered[data-hovered] .interactionEffecttype_bordered {
  display: none;
}
.interactionEffectroundedFull {
  border-radius: 99px;
}
.freeBox___1Pgat {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  column-gap: var(--token-LgPs4s71_o7g);
  min-width: 0;
  min-height: 0;
  padding: var(--token-LgPs4s71_o7g) var(--token-pNI9iLRXA6YZ);
}
.freeBoxsize_extraSmall___1PgatlVg {
  padding: var(--token-7WzZznU0oHuZ) var(--token-LgPs4s71_o7g);
}
.freeBoxsize_small___1Pgathlc2Z {
  padding: var(--token-LgPs4s71_o7g) var(--token-yoZ5UTEtbQiD);
}
.freeBoxsize_large___1PgatJk3Oa {
  padding-top: var(--token-7WzZznU0oHuZ);
  padding-bottom: var(--token-7WzZznU0oHuZ);
}
.freeBoxsize_extraLarge___1PgatCvOqa {
  padding-left: var(--token-B47NXVNo8E8l);
  padding-right: var(--token-B47NXVNo8E8l);
}
.freeBoxroundedFull___1PgatG9AYh {
  padding-right: var(--token-B47NXVNo8E8l);
  padding-left: var(--token-B47NXVNo8E8l);
}
.freeBox__t8Vg6 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconStart__t8Vg6FUBtY {
  display: flex;
}
.slotTargetStart {
  color: var(--token-2UsvRifPj80c);
}
.slotTargetStartcolor_neutral {
  color: var(--token-m6fBTfl0WQnX);
}
.slotTargetStartcolor_muted {
  color: var(--token-TpczvKoAnfYv);
}
.slotTargetStartcolor_success {
  color: var(--token-bs8upEZJMtv-);
}
.slotTargetStartcolor_warning {
  color: var(--token-vbNVjnTyx0FG);
}
.slotTargetStartcolor_errorDestructive {
  color: var(--token-MH_ZXvdvy-76);
}
.slotTargetStarttype_soft {
  color: var(--token--hAiA4-58AaS);
}
.slotTargetStarttype_bordered {
  color: var(--token--hAiA4-58AaS);
}
.slotTargetStartsize_extraSmall {
  font-size: var(--token-9-2gWCjkPS1p);
}
.slotTargetStartsize_small {
  font-size: var(--token-9-2gWCjkPS1p);
}
.slotTargetStartsize_large {
  font-size: var(--token-W47i-vK7kyLl);
}
.slotTargetStartsize_extraLarge {
  font-size: var(--token-W47i-vK7kyLl);
}
.slotTargetStarttype_soft_color_neutral {
  color: var(--token-xlWA0iZ0qvz2);
}
.slotTargetStartcolor_neutral_type_bordered {
  color: var(--token-xlWA0iZ0qvz2);
}
.slotTargetStarttype_soft_color_muted {
  color: var(--token-t6hpUB_eK2e0);
}
.slotTargetStartcolor_muted_type_bordered {
  color: var(--token-t6hpUB_eK2e0);
}
.slotTargetStarttype_soft_color_success {
  color: var(--token-ZHrrRoMM23qK);
}
.slotTargetStarttype_bordered_color_success {
  color: var(--token-ZHrrRoMM23qK);
}
.slotTargetStarttype_soft_color_warning {
  color: var(--token-CIOhlm-zsRce);
}
.slotTargetStarttype_bordered_color_warning {
  color: var(--token-CIOhlm-zsRce);
}
.slotTargetStarttype_soft_color_errorDestructive {
  color: var(--token-DcfhDJQj6bUK);
}
.slotTargetStarttype_bordered_color_errorDestructive {
  color: var(--token-DcfhDJQj6bUK);
}
.svg__h8SfS {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
.slotTargetLabel {
  color: var(--token-2UsvRifPj80c);
}
.slotTargetLabelcolor_neutral {
  color: var(--token-m6fBTfl0WQnX);
}
.slotTargetLabelcolor_muted {
  color: var(--token-TpczvKoAnfYv);
}
.slotTargetLabelcolor_success {
  color: var(--token-bs8upEZJMtv-);
}
.slotTargetLabelcolor_warning {
  color: var(--token-vbNVjnTyx0FG);
}
.slotTargetLabelcolor_errorDestructive {
  color: var(--token-MH_ZXvdvy-76);
}
.slotTargetLabeltype_soft {
  color: var(--token--hAiA4-58AaS);
}
.slotTargetLabeltype_bordered {
  color: var(--token--hAiA4-58AaS);
}
.slotTargetLabeltype_soft_color_neutral {
  color: var(--token-xlWA0iZ0qvz2);
}
.slotTargetLabeltype_soft_color_muted {
  color: var(--token-t6hpUB_eK2e0);
}
.slotTargetLabelcolor_neutral_type_bordered {
  color: var(--token-xlWA0iZ0qvz2);
}
.slotTargetLabeltype_soft_color_success {
  color: var(--token-ZHrrRoMM23qK);
}
.slotTargetLabelcolor_muted_type_bordered {
  color: var(--token-t6hpUB_eK2e0);
}
.slotTargetLabeltype_soft_color_warning {
  color: var(--token-CIOhlm-zsRce);
}
.slotTargetLabeltype_bordered_color_success {
  color: var(--token-ZHrrRoMM23qK);
}
.slotTargetLabeltype_soft_color_errorDestructive {
  color: var(--token-DcfhDJQj6bUK);
}
.slotTargetLabeltype_bordered_color_warning {
  color: var(--token-CIOhlm-zsRce);
}
.slotTargetLabeltype_bordered_color_errorDestructive {
  color: var(--token-DcfhDJQj6bUK);
}
.text__stG2J {
  white-space: pre;
  color: var(--token-EI8XSdWJROjx);
}
.freeBox__elgq6 {
  flex-direction: column;
  flex-shrink: 0;
  display: none;
}
.freeBoxiconEnd__elgq6GIvR {
  display: flex;
}
.slotTargetEnd {
  color: var(--token-2UsvRifPj80c);
}
.slotTargetEndcolor_neutral {
  color: var(--token-m6fBTfl0WQnX);
}
.slotTargetEndcolor_muted {
  color: var(--token-TpczvKoAnfYv);
}
.slotTargetEndcolor_success {
  color: var(--token-bs8upEZJMtv-);
}
.slotTargetEndcolor_warning {
  color: var(--token-vbNVjnTyx0FG);
}
.slotTargetEndcolor_errorDestructive {
  color: var(--token-MH_ZXvdvy-76);
}
.slotTargetEndtype_soft {
  color: var(--token--hAiA4-58AaS);
}
.slotTargetEndtype_bordered {
  color: var(--token--hAiA4-58AaS);
}
.slotTargetEndsize_extraSmall {
  font-size: var(--token-9-2gWCjkPS1p);
}
.slotTargetEndsize_small {
  font-size: var(--token-9-2gWCjkPS1p);
}
.slotTargetEndsize_large {
  font-size: var(--token-W47i-vK7kyLl);
}
.slotTargetEndsize_extraLarge {
  font-size: var(--token-W47i-vK7kyLl);
}
.slotTargetEndtype_soft_color_neutral {
  color: var(--token-xlWA0iZ0qvz2);
}
.slotTargetEndcolor_neutral_type_bordered {
  color: var(--token-xlWA0iZ0qvz2);
}
.slotTargetEndtype_soft_color_muted {
  color: var(--token-t6hpUB_eK2e0);
}
.slotTargetEndcolor_muted_type_bordered {
  color: var(--token-t6hpUB_eK2e0);
}
.slotTargetEndtype_soft_color_success {
  color: var(--token-ZHrrRoMM23qK);
}
.slotTargetEndtype_bordered_color_success {
  color: var(--token-ZHrrRoMM23qK);
}
.slotTargetEndtype_soft_color_warning {
  color: var(--token-CIOhlm-zsRce);
}
.slotTargetEndtype_bordered_color_warning {
  color: var(--token-CIOhlm-zsRce);
}
.slotTargetEndtype_soft_color_errorDestructive {
  color: var(--token-DcfhDJQj6bUK);
}
.slotTargetEndtype_bordered_color_errorDestructive {
  color: var(--token-DcfhDJQj6bUK);
}
.svg__vmCcA {
  position: relative;
  height: 1em;
  flex-shrink: 0;
}
